<h1>Conversations</h1>

<%= link_to "Send new message", new_conversation_path %>

<hr />
	Inbox (<%= current_user.mailbox.inbox.unread(current_user).count %>) | 
	All Conversations (<%= current_user.mailbox.conversations.count %>) |
	Sent (<%= current_user.mailbox.sentbox.count %>) |
	Trash (<%= current_user.mailbox.trash.count %>)
<hr />

Total Conversations: <%= @conversations.count %>

<br />
<br />

<% @conversations.each do |conversation| %>
	<div>
		<% if conversation.is_unread?(current_user) %>
		<strong>
			<%= link_to conversation.subject, conversation_path(conversation) %>, <%= conversation.created_at.strftime("%m/%m/%Y %l:%M %p ") %>
		</strong>
		<% else %>
			<%= link_to conversation.subject, conversation_path(conversation) %>, <%= conversation.created_at.strftime("%m/%m/%Y %l:%M %p ") %>
		<% end %>
	</div>
<% end %>