<h1><%= @conversation.subject %></h1>

<hr />

<% @conversation.receipts_for(current_user).each_with_index do |receipt, index| %>
	<br />
	<div>
		<div>Message # <%= index + 1 %> from <i><%= receipt.message.sender.name %>, <%= receipt.message.sender.role %></i></div>
		<br />
		<p><%= receipt.message.body %></p>
		<div>
			<% if receipt.message.attachment? %>
				<%= link_to receipt.message.attachment.file.filename, receipt.message.attachment.url, target: :blank %>
			<% else %>
				what
			<% end %>
		</div>
		<br />
		<div>
			This message was sent on: <%= receipt.message.created_at.strftime("%b. %e, %l:%M %p") %>
		</div>
	</div>
<% end %>

<hr />

<p>Your response:</p>
<%= form_tag conversation_messages_path(@conversation), { method: :post, multipart: true } do %>
	<div>
		<%= text_area_tag :body %>
		<%= file_field_tag :attachment %>
	</div>

	<%= submit_tag %>	
<% end %>
<hr />

<%= link_to "Send new message", new_conversation_path %>

<hr />
