<% if @artwork.errors.any? %>
<h3>The following errors prevented the artwork from being uploaded:</h3>
<ul>
<% @artwork.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>

<%= form_for @artwork, html: { multipart: true } do |f| %>
	<p>
		<%= f.label :artwork %><br/>
		<%= f.file_field :image %>
	</p>
	<p>
		<%= f.label :title %><br/>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :description %><br/>
		<%= f.text_area :description %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>