<p><center><h1>All artwork</center></h1></p>
<hr />
<p>
<ul>

<% @artworks.in_groups_of(3, false).each do |group| %>
  <div class='row'>
    <div align="center">
      <%= will_paginate %>
    </div>
  	<center>
    <% group.each do |artwork| %>
    <li>
      <div class='col-md-4'>
        <%= link_to image_tag(artwork.image.url(:medium)), artwork_path(artwork) %>
        <h4><%= artwork.title %></h4>
		    <p>Likes: <%= artwork.likes.count %>
				  <% artwork.likes.each do |like| %>
				    <%= image_tag like.user.profile.url, width: 20 %>
			   <% end %>
		    </p>
        <h5>Artist Name: <%= artwork.user.name %></h5>
        <%= link_to "Message this artist!", new_conversation_path(@user) %>
      </li>
    <% end %>
<!--   <div align="center">
    <%= will_paginate %>
  </div> -->
	</center>
  <br />
  </div>
  <br />
<% end %>
</ul>
</p>
<hr />
<div class="row" align="center">
<p>
  <% if user_signed_in? && current_user.artist? %> 
    <%= link_to "Upload your art!", new_artwork_path %>
    <hr />
  <% else %>
    <% %>
  <% end %>
</p>
</div>