<div class='col-lg-12 center padding green-text'>
  <% if @user == current_user %>
  <p><h2 align="center"> Your gallery:</h2></p>
<% else %>
  <p><h2 align="center"> <%= @user.name %>'s gallery:</h2></p>
<% end %>
</div>
<div class='col-lg-12'>
  <% if @user.artworks.size > 0 %>
<ul>
<% @user.artworks.in_groups_of(3, false).each do |group| %>
  <div class='row'>
  	<center>
    <% group.each do |artwork| %>
    <li>
      <div class='col-lg-4 col-md-4 col-sm-4'>
        <%= link_to image_tag(artwork.image.url(:medium)), artwork_path(artwork) %>
        <h4><%= artwork.title %></h4>
		    <h6>Likes: <%= artwork.likes.count %>
				<% artwork.likes.each do |like| %>
				    <%= image_tag like.user.profile.url, width: 20 %>
			   	<% end %>
		    </h6>
        <% if @user == current_user %>
          <% %>
        <% else %>
          <p class="btn green-button btn-lg"><%= link_to "Buy this piece!", artwork_path(artwork) %></p>
        <% end %>
        <br />
      </div>
      </li>
    <% end %>

	</center>	
  </div>
<% end %>
<br />
<% else %>
<div class= "row col-lg-12 center">
  <% if @user == current_user %>
    <p class= "lead">You haven't uploaded any artwork yet!</p>
  <% else %>
    <p class= "lead"><%= @user.name %> hasn't uploaded any artwork yet!</p>
  <% end %>
</div>
<% end %>
</ul>
  <div class="center">
    <% if current_user.artist? && @user == current_user %> 
      <%= link_to "Upload your artwork!", new_artwork_path %>
    <% end %>
  </div>
<hr />
</div>