<p><center><h1>All artists</h1></center></p>
<hr />
<p>
<ul>
<% @users.where("role = 1").in_groups_of(4, false).each do |group| %>
  <div class='row'>
    <div align="center">
      <%= will_paginate %>
    </div>
  	<center>
    <% group.each do |user| %>
    <li>
      <div class='col-md-3'>
        <%= link_to image_tag(user.profile.url(:thumb)), user_path(user) %>
        <h3><%= user.name %></h3>
        <h5><%= user.city %>, <%= user.country %></h5>
        <div><%= link_to "Message me", new_conversation_path(user) %></div><br />
        </li>
    <% end %>
	</center>
  </div>
<% end %>
</ul>
</p>
<hr />
<div class="row" align="center">
<p>
<%= link_to "Send New Message", new_conversation_path %>
</p>
<hr />
</div>