<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand"><%= link_to "Artbnb", root_path %></div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Upload Your Art", new_artwork_path %></li>
        <li><%= link_to "Register Your Venue" %></li>
        <li><%= link_to "See Art", artworks_path %></li>
        <li><%= link_to "Browse Venues" %></li>
        <li><%= link_to "View Artists", artists_path %></li>


<!--         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Artists <span class="caret"></span></a>
          <ul class="dropdown-menu">
			<li>
				<% if user_signed_in? %> 
					<%= link_to "View/Edit Profile" %>
					<%= link_to "Upload Your Art" %>
					<%= link_to "Browse Venues" %>
					<%= link_to "Edit Account", edit_user_registration_path %>
					<%= link_to "Log Out", destroy_user_session_path, method: 'DELETE' %>
				<% else %>
					<%= link_to "Sign In", new_user_session_path %>
				<% end %>
			</li>
          </ul>
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Patrons <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
				<% if user_signed_in? %> 
					<%= link_to "View/Edit Profile" %>
					<%= link_to "View Artists", artists_path %>
					<%= link_to "Edit Account", edit_user_registration_path %>
					<%= link_to "Log Out", destroy_user_session_path, method: 'DELETE' %>
				<% else %>
					<%= link_to "Sign In", new_user_session_path %>
				<% end %>
			</li>            
          </ul>
        </li> -->

      <li>
        <% if user_signed_in? %> 
          <%= link_to "Inbox" %>
        <% else %>
          <% %>
        <% end %>
      </li>
      <li>
        <% if user_signed_in? %> 
          <%= link_to "Profile" %>
        <% else %>
          <%= link_to "Register for Artbnb", new_user_registration_path %>
        <% end %>
      </li>
      <li class="active">
        <% if user_signed_in? %> 
          <%= link_to "Log Out", destroy_user_session_path, method: 'DELETE' %>
        <% else %>
          <%= link_to "Log In", new_user_session_path %>
        <% end %>
      </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> 