<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header logo">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <div class="artbnb-logo img-responsive img-thumbnail img-circle logo hidden-sm hidden-xs"> </div> 
    </div>
    <div class="navbar-header logo">
      <div class="navbar-brand"><%= link_to "Artbnb", root_path %></div>
      <!-- <a><%= link_to image_tag('/assets/artbnb-logo.jpg', class: 'img-responsive img-thumbnail img-circle logo', style:'height: 50px; width: 50px; margin: 4px'), root_path %> </a> -->
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right navbar">
        <!-- <li class="hidden-md hidden-sm hidden-xs"><%= link_to "Browse Venues", venues_path %></li> -->
        <li><%= link_to "View Gallery", artworks_path %></li>
        <li><%= link_to "Connect With Artists", users_path %></li>

      <li>
        <% if user_signed_in? %> 
          <%= %>
        <% else %>
          <%= link_to "Register for Artbnb", new_user_registration_path %>
        <% end %>
      </li>

      <li class="active">
        <% if user_signed_in? %> 
          <% %>
        <% else %>
          <%= link_to "Log In", new_user_session_path %>
        <% end %>
      </li>

      <% if user_signed_in? %> 
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= current_user.name %> <%#= image_tag current_user.profile.url(:thumb), class: "img-circle", :size => "20x20" %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
          <%= link_to "Inbox", conversations_path %>    
          <%= link_to "View Profile", user_path(current_user) %>
          <%= link_to "My Friends", my_friends_path %>
        <% if current_user.artist? %> 
          <%= link_to "Upload Your Art", new_artwork_path %>
          <%= link_to "Connect With Stripe!", stripe_path %>
        <% end %>
        <% if current_user.venue_owner? %>
          <%#= link_to "Register Your Venue", new_venue_path %>
          <%#= link_to "Connect With Stripe!", stripe_path %>
        <% end %>
          <%= link_to "Edit Account", edit_user_registration_path(current_user) %>
          <%= link_to "Log Out", destroy_user_session_path, method: 'DELETE' %>
            </li>
        <% else %>
          <%= %>
        <% end %>            
          </ul>
        </li> 

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> 