<p><center><h1>All venues</h1></center></p>
<hr />
<p>
<ul>
<% @venues.in_groups_of(3, false).each do |group| %>
  <div class='row'>
  	<center>
    <% group.each do |venue| %>
    <li>
      <div class='col-md-4'>
        <%= link_to image_tag(venue.image.url(:medium)), venue_path(venue) %>
        <h4><%= venue.name %></h4>
        <h6><%= venue.address %></h6>
        <%= button_to "Message venue owner", new_conversation_path(@user), :class => "btn btn-warning btn-lg green-button" %><br />
        </li>
    <% end %>
</center>
  </div>
<% end %>
</ul>
</p>
<hr />
<p>
  <% if current_user.patron? %> 
    <%= link_to "Register your venue!", new_venue_path %>
    <hr />
  <% else %>
    <% %>
  <% end %>
</p>