<p><center><h1>All venues</h1></center></p>
<hr />
<div align="center">
  <%= will_paginate %>
</div>
<p>
<ul>
<% @venues.in_groups_of(3, false).each do |group| %>
  <div class='row'>
  	<center>
    <% group.each do |venue| %>
    <li>
<div class='col-md-4'>
  <%= link_to image_tag(venue.image.url(:medium)), venue_path(venue) %>
    <h3><%= venue.name %></h3>
    <h4><%= venue.city %>, <%= venue.country %></h4>
    <%= link_to "Contact venue owner", new_conversation_path(@user) %><br /><br />
        </li>
    <% end %>
</center>
  </div>
<% end %>
</ul>
</p>
<hr />
<div class="row" align="center">
<p>
  <% if user_signed_in? && current_user.venue_owner? %> 
    <%= link_to "Register your venue!", new_venue_path %>
    <hr />
  <% else %>
    <% %>
  <% end %>
</p>
</div>
</div>
<!--   <div class="row" align="center">
    <div class="col-lg-12 col-md-12-col-sm-12 col-xs-12">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class ="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3593.1362661212356!2d-80.19834388582234!3d25.766062283634795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b685012fc709%3A0x90e7c04f6fc6af0a!2sBUILDING.co+Miami!5e0!3m2!1sen!2sus!4v1475633346468" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
</div> -->